@media screen and (max-width: 600px) {
  /* Nav bar start*/
  .logo-title h2 {
    font-size: 21px;
  }
  .logo-title img {
    width: 28.724px;
    height: 33.516px;
  }
  .munu-humberger {
    display: block;
  }
  i.fa-solid.fa-bars {
    font-size: 25px;
  }
  .menu-content {
    display: none;
  }
  /* Nav bar end*/

  /* hero banner start */
  .text-content {
    top: 10%;
  }
  .text-content h2 {
    font-size: 22px;
    top: 10%;
  }
  .text-content p {
    padding: 15px;
  }
  .form-section {
    margin: 0 10px;
    margin-top: -13px;
  }
  .form-section input[type="text"] {
    width: 78%;
  }
  .form-section input,
  select {
    width: 100%;
    margin-bottom: 5px;
  }
  button.btn-form.btn {
    width: 100%;
    text-align: center;
  }
  /* hero banner End */

  /* popular section start */
  .popular-ctn {
    display: flex;
    flex-wrap: wrap;
  }
  .image-popular {
    margin-top: 20px;
    width: 540px;
    height: auto;
    flex-shrink: 0;
  }
  .image-popular {
    flex-shrink: 1;
  }
  /* Newsletter section start */
  .discount-ctn {
    flex-wrap: nowrap;
    flex-direction: column;
  }
  .form-row {
    width: 83%;
  }

  /* discount text */
  .discount-text {
    left: -18px;
  }
  /* discount row */
  .discount-row {
    width: 100%;
  }
  .discount-row {
    width: 100%;
  }
  .first-ig-row,
  .sec-ig-row,
  .third-ig-row {
    display: flex;
    flex-direction: column;
  }
  .third-ig-row {
    flex-direction: column;
  }
  .image1,
  .image2,
  .image3,
  .image4,
  .image5,
  .image6,
  .image7 {
    width: 100%;
  }
  /* Choose Your Destination */
  .card-row-one,
  .card-two {
    flex-direction: column;
  }
  .hotel-card,
  .service-card,
  .price-card {
    width: 80%;
  }

  /* date cal */
  .coloum-disount {
    width: 250px;
    height: 330px;
    left: 60px;
  }
  .discount-cl-2 {
    right: 15% !important;
    margin-top: 2%;
  }
  button.btn-1 {
    position: absolute;
    left: 26%;
  }

  /* title responsive */
  .text-content-dns h2 {
    font-size: 20px;
  }
  .text-popular h2 {
    font-size: 20px;
  }
}
