* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
  font-family: "Inter", sans-serif;
  font-family: "Mulish", sans-serif;
}

.container {
  width: 80%;
  max-width: 1170px;
  margin: 0 auto;
}
img {
  width: 100%;
}

.highligt_text {
  color: #ff5400;
}
.top-margin {
  margin-top: 80px;
}
.text-align-center {
  text-align: center;
}

/* nav style css start */
.nav-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}
.logo-title {
  display: flex;
  align-items: center;
}
.logo-title img {
  width: 48px;
  height: 56px;
  margin-right: 5px;
}
.logo-title h2 {
  color: #131318;
  font-family: Mulish;
  font-size: 36px;
  font-weight: 800;
}
.menu-content a {
  text-decoration: none;
  padding: 10px 0px;
  align-items: center;
  margin-left: 10px;
}
.munu-humberger {
  display: none;
}

/* hero banner csss */
.hero_banner {
  background-image: linear-gradient(rgba(6, 6, 6, 0.836), rgba(0, 0, 0, 0.164)),
    url(/images/herobanner.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  border-radius: 16px;
}
.text-content {
  position: relative;
  text-align: center;
  margin: auto 0;
  top: 30%;
}
.text-content h2 {
  color: #fff;
  font-family: Mulish;
  font-size: 64px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.text-content p {
  color: #fff;
  text-align: center;
  font-family: Mulish;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  padding: 0 247px;
}
.form-section {
  margin-top: 15px;
  margin: 25px 200px 0 200px;
  background-color: #ffffff42;
  padding: 24px;
  border-radius: 8px;
}
input[type="text"]:focus {
  border: none;
}
.form-section input,
select {
  border: none;
  background-color: #fff;
  padding: 20px 30px;
  border-radius: 8px;
}

.form-section input::placeholder {
  color: rgba(19, 19, 24, 0.5);
  font-family: Mulish;
  font-size: 16px;
  font-weight: 400;
}

.btn-form {
  padding: 20px 30px;
  background-color: #ff5400;
  color: white;
  text-align: center;
  font-family: Mulish;
  font-size: 16px;
  font-weight: 400;
  border-radius: 8px;
  border: none;
}

/* popular section */
.popul-section {
  margin-top: 80px;
}
.popular-ctn {
  display: flex;
}
.text-popular {
  padding-right: 20px;
}
.text-popular h2 {
  color: #131318;
  font-family: Mulish;
  font-size: 40px;
  font-weight: 800;
  padding-bottom: 10px;
}
.text-popular p,
ul li {
  color: rgba(19, 19, 24, 0.7);
  font-family: Mulish;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  padding: 10px 0;
}
.text-popular ul {
  padding-left: 25px;
}
.image-popular {
  width: 540px;
  height: 550px;
  flex-shrink: 0;
}

/* Choose Your Destination start*/
.text-content-dns h2 {
  color: #131318;
  text-align: center;
  font-family: Mulish;
  font-size: 40px;
  font-weight: 800;
}

.text-content-dns p {
  color: rgba(19, 19, 24, 0.7);
  text-align: center;
  font-family: Mulish;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.first-ig-row {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
span.image-title {
  color: #fff;
  font-family: Mulish;
  font-size: 28px;
  font-weight: 800;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0;
}

.image1 {
  display: flex;
  position: relative;
  width: 50%;
  background-image: linear-gradient(rgba(6, 6, 6, 0.098), rgba(0, 0, 0, 0.057)),
    url(/images/Maldives.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  border-radius: 16px;
  margin: 5px;
  align-content: space-around;
  flex-wrap: nowrap;
  flex-direction: column-reverse;
  justify-content: center;
}

/* Newsletter section */
.discount-ctn {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.form-row {
  width: 40%;
  border: 1px solid #ff5400;
  border-radius: 16px;
  padding: 30px;
  height: 350px;
}
.form-row h3 {
  color: #131318;
  font-family: Mulish;
  font-size: 24px;
  font-weight: 800;
}
.form-row p {
  color: #5a5a5d;
  font-family: Mulish;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
.discount-row {
  width: 60%;
  background-image: linear-gradient(rgba(6, 6, 6, 0.098), rgba(0, 0, 0, 0.057)),
    url(/images/pahar.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 422px;
  border-radius: 16px;
}
.form-row input[type="text"],
input[type="email"] {
  margin-top: 15px;
  padding-top: 10px;
  padding-left: 10px;
  width: 100%;
  height: 50px;
  margin-bottom: 10px;
  border: none;
  background-color: #f3f3f3;
  border-radius: 10px;
}
button.form-newsletter-btn {
  width: 100%;
  padding: 20px 30px;
  background-color: #ff5400;
  color: white;
  text-align: center;
  font-family: Mulish;
  font-size: 16px;
  font-weight: 400;
  border-radius: 8px;
  border: none;
}
.discount-row {
  display: flex;
  align-content: flex-end;
  align-items: flex-end;
  justify-content: flex-end;
  flex-wrap: nowrap;
}
.discount-text {
  padding: 20px 10px;
  background: #ff5400;
  color: white;
  border-radius: 16px;
  transform: rotate(330deg);
  position: relative;
  top: -76px;
  width: 50%;
  text-align: center;
}
